@font-face {
  font-family: "DINNext";
  src: local("DINNext"),
    url(../fonts/DINNextLTPro-Medium.otf) format("truetype");
}

.bg {
  /* background-image: url("./asset4.png"); */

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 10px; */
}
/* 
.timer span {
  margin-right: 170px;
  font-size: 74px;
} */

.tLeft {
  /* margin-top: 35px; */
  margin-left: 18px;
  transform: scale(0.6);
}
.tright {
  /* margin-top: 35px; */
  margin-right: 50px;
  transform: scale(0.6);
}
/* 
.section-1 {
  margin: 15px;
} */

.numbers {
  /* margin-left: -3px; */
  color: red;
}

.numbers span {
  font-size: 4vw;
}

.texts span {
  font-size: 2vw;
}

.timerText {
  font-family: DINNext, serif;
  margin-left: -13px;
}

.container {
  max-width: 100%;
}

.sidebar-content h3 {
  font-family: DINNext, serif;
  margin-left: 15px;
}

.timer span {
  /* margin: 43px; */
  /* font-size: 2vw; */
}

.timerText span {
  /* font-size: 2vw; */
  /* margin: 10px; */
}

.col-12 {
  margin-left: 10px;
}

.timeSection {
  margin-left: 94px;
  margin-top: 76px;
  /* margin-left: 16px; */
  /* margin-top: 1rem; */
  padding: 1rem;
  /* background-color: rgb(235, 195, 64); */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}

.timeSection h3 {
  margin-left: 15px;
  font-family: DINNext, serif;
  margin-bottom: -10px;
}

.timeSection a {
  padding-left: 5px;
}

.mainContainer {
  /* margin-left: 35px;
  padding-right: 40px; */
  margin-left: 92px;
  padding-right: 112px;
}

.soon-text {
  margin-left: 11px;
}

.soon-text h1 {
  /* margin-left: 11px; */
  font-family: DINNext, serif;
  color: black;
  font-size: 4vw;
}


@media only screen and (max-width: 2000px) {
  /* .timer span {
    margin-right: 155px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 800px;
    left: 136px;
  }
}

@media only screen and (max-width: 1800px) {
  /* .timer span {
    margin-right: 103px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 610px;
    left: 105px;
  }
}

@media only screen and (max-width: 1366px) {
  /* .timer span {
    margin-right: 82px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 540px;
    left: 83px;
  }
}

@media only screen and (max-width: 1280px) {
  /* .timer span {
    margin-right: 90px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 590px;
    left: 25px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .timerText span {
    font-size: 4vw;
    margin-left: -8px;
    /* margin: 10px; */
  }
  .timeSection h3 {
    margin-bottom: 0px;
    font-size: 5.2vw;
  }
  .tLeft {
    margin-left: 0px;
    transform: scale(1);
  }
  .tright {
    margin-right: 0px;
    transform: scale(1);
  }
  .mainContainer {
    /* padding-right: 0px; */
    margin-left: 0px;
    padding-right: 20px;
  }
  .sheikh {
    right: 0px;
    position: relative;
  }
  .timeSection {
    margin-left: 0px;
    /* margin-top: 0px; */
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .timeSection a {
    padding-left: 1px;
  }
  .soon-text {
    margin-left: 11px;
  }
  .soon-text h1{
    margin-left: 11px;
    font-family: DINNext, serif;
    color: black;
    font-size: 11vw;
  }
}

.sheikh {
  width: 60%;
  right: 90px;
  position: absolute;
}

