@font-face {
  font-family: "AgipoLight";
  src: local("AgipoLight"),
    url(../fonts/AgipoLight-Regular.otf) format("truetype");
}

@font-face {
  font-family: "FjallaOne";
  src: local("FjallaOne"),
    url(../fonts/FjallaOne-Regular.ttf) format("truetype");
}

.bg {
  background-image: url("../img/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.main-text {
  /* color: rgb(62, 61, 67); */
  color: black;
}

.input-fields {
  /* margin-top: 10%; */
}

.top-text {
  font-size: 20px;
}

.middle-text {
  font-size: 46px;
}

.bottom-text {
  font-size: 20px;
}

.yeer {
  padding-top: 54px;
}

.yeer h1 {
  font-family: "FjallaOne", sans-serif;
}

.yeer h1 span {
  font-family: "AgipoLight", sans-serif;
  /* font-size: 46px; */
}

.code-label {
  position: absolute;
  top: 42%;
}

.code-label h2 {
  color: white;
  font-family: "FjallaOne", sans-serif;
  text-transform: capitalize;
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 10;
  /* margin-top: 136px; */
}

.code-label > input {
  font-family: "Montserrat", sans-serif;
  padding: 25px 0 25px 0;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 5px;
  border: 3px solid #ffb900;
  /* border: none; */
  /* background: #fff; */
  font-size: 22px;
  /* color: rgb(0, 0, 32); */
  outline: none;
  border-radius: 5px;
  height: 1.2rem;
  text-align: center;
}

.submit-button button {
  margin-top: 10px;
  font-family: "FjallaOne", sans-serif;
  color: black;
  /* padding: 20px; */
  border: none;
  background-color: white;
  /* font-weight: 600; */
  /* font-size: 37px; */
  border-radius: 2px;
  color: black;
  cursor: pointer;
  /* transition: 0.2s ease-in-out; */
  /* margin-top: 45px; */
  width: 40%;
  /* margin-left: 23px; */
  height: 35px;
}

.success-text p {
  font-family: "FjallaOne", sans-serif;
  margin-top: 75px;
}

.details-label {
  position: absolute;
  top: 30%;
}

.details-label p {
  color: white;
  font-family: "FjallaOne", sans-serif;
  /* text-transform: capitalize; */
  /* margin: 0; */
  /* font-size: 20px; */
  /* margin-top: 136px; */
}

.form {
  /* background-image: url('./bg.png');
  background-size: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 43rem;
  margin-left: 6.5rem; */
  align-items: center;
  color: white;
}

.form img {
  width: 65%;
  margin: auto;
}

.form > h1 {
  font-family: "Cocogoose", sans-serif;
  margin-bottom: 32px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  /* margin-top: 53px; */
}

.form > h2 {
  font-family: "FjallaOne", sans-serif;
  margin-bottom: 32px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 53px;
  color: white;
}

.form > p {
  margin: 0;
  letter-spacing: 1px;
  text-indent: 10px;
  font-size: 20px;
}

.form h1 span {
  /* color:  rgb(147, 213, 0); */
}

.form > input {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 5px;
  border: 3px solid #ffb900;
  /* border: none; */
  /* background: #fff; */
  font-size: 22px;
  /* color: rgb(0, 0, 32); */
  outline: none;
  border-radius: 5px;
  height: 1.2rem;
  text-align: center;
}

.form > select {
  font-family: "Montserrat", sans-serif;
  padding: 2px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  /* border: 1px solid lightgray; */
  /* border: none; */
  /* background: #fff; */
  font-size: 16px;
  color: white;
  outline: none;
  border-radius: 5px;
  height: 2rem;
}

.form > input:focus {
  /* border: 1px solid rgb(0, 0, 196); */
}

.form > textarea {
  height: 0px;
  max-width: 100%;
  min-height: 100px;
}

.form > label {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 4px;
  /* color: whitblae; */
  font-weight: inherit;
  font-size: 17px;
}

.form > button {
  font-family: "FjallaOne", sans-serif;
  color: black;
  /* padding: 20px; */
  border: none;
  background-color: white;
  /* font-weight: 600; */
  /* font-size: 37px; */
  border-radius: 2px;
  color: black;
  cursor: pointer;
  /* transition: 0.2s ease-in-out; */
  /* margin-top: 45px; */
  width: 40%;
  /* margin-left: 23px; */
  height: 35px;
  margin-top: 20px;
}

/* .form > button {
  font-family: 'Montserrat', sans-serif;
  color: rgb(63, 55, 71);
  padding: 20px;
  border: none;
  background-color: rgb(37, 45, 63);
  font-weight: 600;
  font-size: 37px;
  border-radius: 11px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 45px;
  width: 94%;
  margin-left: 23px;
  height: 80px;
} */

.form > button:hover {
  /* background-color: rgb(0, 0, 196); */
}

.checkbox label {
  float: right;
}

.checkbox input {
  margin-top: 3px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
  transform: scale(0.5);
  left: -30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
