@font-face {
  font-family: "ToyotaType-Bold";
  src: local("ToyotaType-Bold"),
    url(../fonts/ToyotaType-Bold.otf) format("truetype");
}

@font-face {
  font-family: "ToyotaType-Book";
  src: local("ToyotaType-Book"),
    url(../fonts/ToyotaType-Book.otf) format("truetype");
}
@font-face {
  font-family: "ToyotaType-SemiBold";
  src: local("ToyotaType-SemiBold"),
    url(../fonts/ToyotaType-Semibold.otf) format("truetype");
}

.bg {
  background-image: url("../img/bg.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.main-text {
  color: black;
}

.top-text {
  font-size: 20px;
}

.middle-text {
  font-size: 46px;
}

.bottom-text {
  font-size: 20px;
}

.yeer {
  padding-top: 25px;
}

.signUp button {
  font-family: "ToyotaType-SemiBold", sans-serif;
  color: black;
  border: none;
  background-color: white;
  border-radius: 20px;

  cursor: pointer;
  width: 15%;
  height: 35px;
  margin-top: 50%;
}

.details-label {
  position: absolute;
  top: 27%;
  width: 75%;
}

.details-label p {
  color: white;
  font-family: "ToyotaType-Book", sans-serif;
}

.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} */

.form img {
  width: 65%;
  margin: auto;
}

.form > h1 {
  font-family: "Cocogoose", sans-serif;
  margin-bottom: 32px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.form > h2 {
  font-family: "FjallaOne", sans-serif;
  margin-bottom: 32px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 53px;
  color: white;
}

.form > p {
  margin: 0;
  letter-spacing: 1px;
  /* text-indent: 10px; */
  font-size: 20px;
}

.form > input {
  font-family: "Montserrat", sans-serif;
  /* padding: 15px 0 15px 2px; */

  margin-bottom: 5px;
  border: 1px solid white;
  width: 100%;
  font-size: 22px;
  outline: none;
  /* height: 1.2rem; */
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form > select {
  font-family: "Montserrat", sans-serif;
  padding: 2px;

  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  outline: none;
  border-radius: 5px;
  height: 2rem;
}

.form > textarea {
  height: 0px;
  max-width: 100%;
  min-height: 100px;
}

.form > label {
  padding-bottom: 4px;
  font-weight: inherit;
  font-size: 17px;
}

.form button {
  font-family: "ToyotaType-SemiBold", sans-serif;
  color: black;
  border: none;
  background-color: white;
  border-radius: 20px;

  cursor: pointer;
  width: 20%;
  height: 35px;
  margin-top: 20px;
}

.checkbox label {
  /* float: right;
  padding-left: 10px; */
  font-family: "ToyotaType-Book", sans-serif;
  /* font-size: 12px; */
  margin-top: 10px;
}
.checkbox label a {
  font-family: "ToyotaType-Bold", sans-serif;
  text-decoration: underline;
}

.checkbox input {
  margin-right: 3px;
  padding-top: 10px;
}

.containers {
  position: absolute;
  top: 40%;
  width: 100%;
}

.containers h2 {
  font-family: "ToyotaType-Bold", sans-serif;
}
.containers p {
  font-family: "ToyotaType-Book", sans-serif;
}

.thankYou {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  margin: 0;
}

input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .bg {
    background-image: url("../img/bgt.png");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  .signUp button {
    width: 25%;
    margin-top: 75%;
  }
  .details-label {
    top: 25%;
  }
  .checkbox {
    font-size: 15px;
  }
  .checkbox label {
    margin-top: 2px;
  }
  .form button {
    width: 30%;
    margin-top: 0;
  }
  .details-label {
    top: 25%;
  }
}
@media only screen and (min-device-height: 480px) and (max-device-height: 750px) {
}
@media only screen and (max-device-height: 568px) {
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .bg {
    background-image: url("../img/bgt.png");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
}
@media only screen and (min-width: 1000px) {
  .signUp button {
    margin-top: 25%;
    width: 10%;
  }
  .details-label {
    width: 27%;
  }
  .form button {
    width: 25%;
  }
}
