.bg {
  /* background-image: url("./asset4.png"); */

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 10px; */
}
/* 
.timer span {
  margin-right: 170px;
  font-size: 74px;
} */

.tLeft {
  /* margin-top: 35px; */
}

.section-1 {
  margin: 15px;
}

.container {
  max-width: 100%;
}

.timer span{
  /* margin: 43px; */
  font-size: 2vw;
}

.timerText span{
  font-size: 2vw;
  /* margin: 10px; */
}

.col-12 {
  margin-left: 10px;
}

.timeSection {
  margin-left: 16px;
}

@media only screen and (max-width: 2000px) {
  /* .timer span {
    margin-right: 155px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 800px;
    left: 136px;
  }
}

@media only screen and (max-width: 1800px) {
  /* .timer span {
    margin-right: 103px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 610px;
    left: 105px;
  }
}

@media only screen and (max-width: 1366px) {
  /* .timer span {
    margin-right: 82px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 540px;
    left: 83px;
  }
}

@media only screen and (max-width: 1280px) {
  /* .timer span {
    margin-right: 90px;
    font-size: 74px;
  } */

  .timerMain h2 {
    position: absolute;
    top: 590px;
    left: 25px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
  .timerText span{
    font-size: 4vw;
    /* margin: 10px; */
  }
}

